.sidebar {
  height: 100vh;
  background: #f7f8ff;
  padding: 20px 16px 20px 0px;
  display: flex;
  flex-direction: column;
  
  font-family: "Inter", sans-serif;
}


.workspace {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 28px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #5b5cf6;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.workspace-name {
  font-weight: 500;
  font-size: 14px;
  color: black;
}

.section {
  margin-bottom: 24px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  color: #8b8fae;
  margin-bottom: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #1f2937;
}

.item:hover {
  background: #eceeff;
}

.item.active {
  background: #dedeff;
  font-weight: 500;
}

.item.muted {
  color: #9aa0c4;
}

.item.link {
  color: #4f46e5;
}

.emoji {
  font-size: 16px;
}


.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.collapse-icon {
  position: absolute;
  right: -8px;
  bottom: 10px;
  cursor: pointer;
  color: #9aa0c4;
}
