.navbar {
  height: 64px;
  
  background: linear-gradient(
    90deg,
    #3b3bdc,
    #5a5af0,
    #6c6cf5
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  color: #fff;
}


.navbar-center {
  display: flex;
  gap: 32px;
  color: white;
}

.nav-item {
  cursor: pointer;
  opacity: 0.85;
  font-size: 15px;
}

.nav-item.active {
  opacity: 1;
  font-weight: 500;
}

.navbar-right {
  display: flex;
  gap: 20px;
  font-size: 18px;
  cursor: pointer;
}
.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}
